@font-face {
font-family: Libre Baskerville;
    src: url(../fonts/LibreBaskerville-Regular.otf);
}
@font-face {
    font-family: Rocket;
    src: url(../fonts/ROCKET\ WILDNESS.otf);
}
@font-face {
    font-family: Monofonto;
    src: url(../fonts/monofonto\ rg.otf);
}
:root{
    /* FONT-FAMILIES */ 
    --font_family_01: Libre Baskerville;
    --font_family_02: Rocket;
    --font_family_03: Monofonto;
    
    /* FONT-SIZE */
    --font__size_01: clamp(0.5rem, 1.125rem, 1.25rem);
    --font__size_02: clamp(2rem, 3rem, 4rem);
    --font__size_03: clamp(2rem, 2.2rem, 3rem);
    --font__size_04: clamp(0.6rem, 0.8rem, 1rem);
    --font__size_05: clamp(4rem, 5rem, 6rem);
    
    /* FONT-COLOR */
    --font__color_01: #272727;
    --font__color_02: #848484;
    --font__color_03: #565656;
    --font__color_04: #0A8200;
    
}

/* TOP-BAR */
.top-bar{
    width: 100vw;
    height: 8.2vh;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.top-bar__logo-space{
    width: 15vw;
    margin: 0%;
    display: flex;
    justify-content: start;
}
.top-bar__menu{
    width: 40vw;
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 2.1vw;
    justify-content: start;
    align-items: center;
}
.top-bar__menu-text{
    text-decoration: none;
    font-family: var(--font_family_01);
    font-size: var(--font__size_01);
    color: var(--font__color_01); 
}
.top-bar__search{
    width: 25vw;
    display: flex;
    justify-content: start;
    align-items: center;
}
.top-bar__personal{
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.top-bar__logo{
    width: 3.05vw;
    min-width: 1.5vw;
    margin: 0 0 0 2.69vw;
}
.top-bar__search-background{
    width: 23vw;
    height: 5.322415557830092vh;
    background-color: #F0F0F0;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    padding: 0 0.75vw 0 0.75vw;
    justify-content: space-between;
    align-items: center;
}
.top-bar__search-img{
    width: 1.29vw;
}
.top-bar__search-input{
    width: 25vw;
    padding: 0.5vw;
    background-color: transparent;
    border: none;
    font-family: var(--font_family_01);
    font-size: var(--font__size_01);
    color: var(--font__color_02);
}
.top-bar__person{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    align-items: center;
    font-family: var(--font_family_01);
    font-size: var(--font__size_01);
    color: var(--font__color_02);
}
.top-bar__love{
    width: 1.29vw;
}
.top-bar__shopping-car{
    width: 1.29vw;
}
.top-bar__person-image{
    height: 5.322415557830092vh;
}

/* SWIPER */
.swiper{
    display: flex;
    width: 100vw;
    height: 91.8vh;
}
.swiper__img{
    width: 55vw;
    height: auto;
}
.swiper__content{
    width: 45vw;
    height: auto;
}
.swiper__img{
    margin: 0%;
}
.swiper__img-content{
    width: 55vw;
    height: 90.8vh;
    object-fit: cover;
}
.swiper__content-back{
    position: absolute;
    width: 45Vw;
    height: 90.8vh;
    object-fit: cover;
}
.swiper__content-inside{
    width: 45vw;
    height: 90.8vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.swiper__content-title{
    margin: 0%;
    color: black;
    font-family: var(--font_family_02);
    font-size: 8.5rem;
}
.swiper__content-text{
    margin: 0%;
    font-family: var(--font_family_01);
    font-size: var(--font__size_02);
    color: var(--font__color_03);
}

/* TRENDING NOW SECTION */
.trending{
    width: 100vw;
    margin: 3rem 1rem;
}
.trending__container{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.trending__box{
    width: 22vw;
}
.trending__title{
    font-size: var(--font__size_03);   
    font-family: var(--font_family_01);
    color: var(--font__color_01);
    margin: 1.5rem 0rem;
}
.trending__box-image{
    width: 22vw;
    height: 31vh;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.trending__box-title{
    font-size: var(--font__size_01);   
    font-family: var(--font_family_01);
    color: var(--font__color_01);
    margin: 0.5rem 1rem;
}
.treding__firstrow{
    width: auto;
    display: flex;
    gap: 1vw;
    margin: 0.5rem 1rem;
}
.treding__secondrow{
    width: auto;
    display: flex;
    gap: 0.5vw;
    margin: 0.5rem 1rem;
}
.trending__firstrow-brand{
    margin: 0%;
    font-family: var(--font_family_01);
    font-size: var(--font__size_04);
    color: var(--font__color_01);
    font-weight: lighter;
}
.trending__firstrow-calification{
    margin: 0%;
    font-family: var(--font_family_01);
    font-size: var(--font__size_04);
    color: var(--font__color_02);
    font-weight: lighter;
    align-self: center;
}
.trending__secondrow-price{
    margin: 0%;
    font-family: var(--font_family_01);
    font-size: var(--font__size_01);
    color: var(--font__color_01);
    font-weight: lighter;
}
.trending__secondrow-realprice{
    margin: 0%;
    font-family: var(--font_family_01);
    font-size: var(--font__size_04);
    color: var(--font__color_02);
    font-weight: lighter;
    text-decoration: line-through;
    align-self: center;
}
.trending__secondrow-discount{
    margin: 0%;
    font-family: var(--font_family_01);
    font-size: var(--font__size_04);
    color: var(--font__color_04);
    font-weight: lighter;
    align-self: center;
}
.trending__calification{
    display: flex;

}
.trending__firstrow-star{
    height: 1.1vh;
}

/* DEAL OF THE DAY */
.dealsoftheday{
    width: 100vw;
    margin: 3rem 1rem;
}
.dealsoftheday__title{
    font-size: var(--font__size_03);
    font-family: var(--font_family_01);
    color: var(--font__color_01);
    margin: 1.5rem 0rem;
}
.dealsofttheday__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dealsoftheday__box{
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dealsoftheday__img-header{
    width: 26vw;
    height: 31vh;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
.dealsoftheday__img-brand{
    width: 8.12vw;
    margin: 1rem 0rem;
}
.dealsoftheday__name-deal{
    font-size: var(--font__size_03);
    font-family: var(--font_family_01);
    color: var(--font__color_01);
    margin: 0.5rem 0rem;
}
.dealsoftheday__price{
    font-size: var(--font__size_04);
    font-family: var(--font_family_01);
    color: var(--font__color_01);
    margin: 0.5rem 0rem;
}

/* TRENDING OFFERS */
.trendingoffers{
    width: 100vw;
    margin: 3rem 1rem;
}
.trendingoffers__title{
    font-size: var(--font__size_03);
    font-family: var(--font_family_01);
    color: var(--font__color_01);
    margin: 1.5rem 0rem;
}
.trendingoffers__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.trendingoffers__box{
    width: 62vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 10px 10px;
}
.trendingoffers__box-text{
    background-color: transparent;
    width: 31vw;
    height: 60;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.trendingoffers__box-brand{
    width: 9.41vw;
    margin: 1rem 0rem;
}
.trendingoffers__box-but{
    font-size: var(--font__size_01);
    font-family: var(--font_family_01);
    color: var(--font__color_01);
    margin: 0.5rem 0rem;
    padding: 0.5rem 2rem;
    line-height: 1.5rem;
    background-color: transparent;
    border: solid var(--font__color_01);
    border-width: 1px;
    border-radius: 10px;
}
.trendingoffers__box-img{
    width: 31vw;
    height: 60;
    border-radius: 0px 10px 10px 0px;
    object-fit: cover;
}

/* SLIDE */
.slide{
    width: 100vw;
    margin: 3rem 0rem;
}
.slide__img{
    width: 100vw;
    height: 92vh;
    object-fit: cover;
    position: absolute;
}
.slide__text{
    width: 100vw;
    height: 92vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slide__title{
    font-family: var(--font_family_03);
    color: white;
    font-size: var(--font__size_05);
    margin: 1.5rem 0rem;
}
.slide__text-body{
    font-size: var(--font__size_03);
    font-family: var(--font_family_01);
    color: white;
    margin: 1.5rem 0rem;
}
.slide__but{
    font-size: var(--font__size_01);
    font-family: var(--font_family_01);
    color: white;
    margin: 0.5rem 0rem;
    padding: 0.5rem 2rem;
    line-height: 1.5rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
}

/* SHOP BY CATEGOIES */
.shopbycategories{
    width: 100vw;
    margin: 3rem 1rem;
}
.shopbycategories__gallery{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 15vw);
    grid-template-rows: repeat(2, 33vh);
    gap: 1vw;
}
.shopbycategories__gallery-01{ 
    background-image: url(../img/grid-ancho.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    border-radius: 10px 10px 10px 10px;
}
.shopbycategories__gallery-02{
    background-image: url(../img/grid-largo.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    border-radius: 10px 10px 10px 10px;
    object-fit: cover;
}
.shopbycategories__gallery-03{
    background-image: url(../img/grid-largo.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 5 / 7;
    grid-row: 1 / 2;
    border-radius: 10px 10px 10px 10px;
    object-fit: cover;
}
.shopbycategories__gallery-04{
    background-image: url(../img/grid-largo.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 3 / 5;
    grid-row: 2 / 3;
    border-radius: 10px 10px 10px 10px;
    object-fit: cover;
}
.shopbycategories__gallery-05{
    background-image: url(../img/grid-ancho.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    border-radius: 10px 10px 10px 10px;
    object-fit: cover;
}
.shopbycategories__gallery-06{
    background-image: url(../img/grid-ancho.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 6 / 7;
    grid-row: 2 / 3;
    border-radius: 10px 10px 10px 10px;
    object-fit: cover;
}

/* WHAT OUR CUSTOMERS SAYS */
.ourcostumerssays{
    width: 100vw;
    margin: 3rem 1rem;
}
.ourcostumerssays__container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ourcostumerssays__box{
    width: 51vw;
    height: 49vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ourcostumerssays__box-img{
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    background-image: url(../img/grid-ancho.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.ourcostumerssays__box-calification{
    padding: 1rem 0rem;
    height: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ourcostumerssays__star{
    width: 0.9vw;
}
.ourcostumerssays__number{
    margin: 0%;
    padding: 0rem 0.5rem;
    font-family: var(--font_family_01);
    font-size: var(--font__size_04);
    color: black;
    align-self: center;
    transform: translate(0%, 10%);
}
.ourcostumerssays__text-detail{
    font-family: var(--font_family_01);
    color: var(--font__color_01);
    font-size: var(--font__size_01);
    text-align: center;
}

/* FEATURED BLOG */
.featuredblog{
    width: 100vw;
    margin: 3rem 1rem;
}
.featuredblog__container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.featuredblog__blog{

}
.featuredblog__img{

}
.featuredblog__blog-text{

}
.featuredblog__text-blog{

}
.featuredblog__text-title{

}
.featuredblog__text-body{

}
.featuredblog__text-author{

}